html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}

body:after {
    background-image: url('/static/views/images/bg_beer.png');
    background-size: cover;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.navbar-header {
    float: left;
}

.navbar-toggle {
    float: right;
}

.navbar-brand {
    width: 150px;
    padding: 0;
}

.navbar-brand img {
    height: 100%;
}

.navbar-fixed-bottom h5 {
    line-height: 30px;
}

.agenda {
    margin-top: 20px;
}
