<!doctype html>
<!--[if lt IE 8]>      <html class="no-js lt-ie8> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Beer Conference{% endblock %}</title>
    <meta name="description" content="SQLAlchemy Training">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='vendor/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='views/images/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-theme.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='views/css/main.css') }}">

    {% block javascript %}{% endblock javascript %}
    {% block styles %}{% endblock styles %}
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

{% block nav %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div id="logo">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='views/images/beers.jpg') }}"
                             alt="logo" title="Beer Lovers Conference">
                    </a>
                </div>
            </div>

            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% set navigation_items = [
                        ('website_app.index', 'Homepage'),
                        ('website_app.agenda', 'Agenda'),
                        ('website_app.speakers', 'Speakers'),
                        ('website_app.wine_conference', 'Wine Conference Soon!'),
                        ('website_app.whisky_conference', 'Whisky Conference Soon!')
                    ] -%}

                    {% for url_name, label in navigation_items %}
                        <li {% if request.url_rule.endpoint == url_name %}class="active"{% endif %}>
                            <a href="{{ url_for(url_name) }}">{{ label }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome!</a></li>
                </ul>
            </div>

            <button type="button" data-target="#navbar-collapse" data-toggle="collapse"
                    class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
    </nav>
{% endblock %}


<main class="container">
    {% if messages %}
        <ul class="messages col-xs-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}


    {% block content %}
        <p>Content goes here!</p>
    {% endblock %}
</main>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <h5>&copy; Beer Lovers Conference 2016</h5>
    </div>
</nav>

</body>
</html>
