{% extends 'base.html' %}

{% block title %}Agenda - Beer Conference{% endblock %}

{% block content %}

    <h1 class="h1">Conference Agenda</h1>

    <div class="agenda">
        <section class="agenda__header row">
            <strong>
                <div class="col-md-2">Speakers</div>
                <div class="col-md-3">Title</div>
                <div class="col-md-4">Abstract</div>
                <div class="col-md-1">Where</div>
                <div class="col-md-1">Starts</div>
                <div class="col-md-1">Ends</div>
            </strong>
        </section>

        <hr>

        <!-- iterate over talks -->
        <section class="agenda__talk row">
            <div class="col-md-2">
                <!-- iterate over speakers -->
                <span class="col-md-12">Mark Riley</span>
                <span class="col-md-12">Andrew Duda</span>
                <span class="col-md-12">Mark Allen</span>
                <!-- end of iteration over speakers -->
            </div>
            <div class="col-md-3">Missing microelements in your body. Fill them up!</div>
            <div class="col-md-4">This talk will give a quick overview of the missing microelements and how to avoid it.</div>
            <div class="col-md-1">Yellow Room</div>
            <div class="col-md-1">Friday, 10:00</div>
            <div class="col-md-1">Friday, 10:30</div>
        </section>
        <!-- end of iteration block -->
    </div>

{% endblock %}
