{% extends 'base.html' %}

{% block title %}Wine - Beer Conference{% endblock %}

{% block content %}
    <h1 class="h1">Wine Conference Coming!</h1>
    <p>Get Ready for the wine conference blah blah</p>
    <p>We start in April 2036 in Marseille!</p>

    <div class="wineConference">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#wineSpeakers">Speakers</a></li>
            <li><a data-toggle="tab" href="#wineTalks">Talks</a></li>
            <li><a data-toggle="tab" href="#wineAgenda">Agenda</a></li>
        </ul>

        <div class="tab-content">
            <div id="wineSpeakers" class="tab-pane fade in active">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for speaker in speakers %}
                        <tr>
                            <td>{{ speaker }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="wineTalks" class="tab-pane fade">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for talk in talks %}
                        <tr>
                            <td>{{ talk }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="wineAgenda" class="tab-pane fade">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Event Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in agenda %}
                        <tr>
                            <td>{{ event }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
